@use '../helpers' as *;
@use '../helpers/fonts' as f;

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  @each $colour, $shades in $colours {
    @each $shade, $value in $shades {
      --clr-#{$colour}-#{$shade}: #{$value};
    }
  }
  @each $size, $value in f.$sizes {
    --fs-#{$size}: #{$value};
  }
  @each $lh, $value in f.$lh {
    --#{$lh}: #{$value};
  }
}

@each $heading, $size in f.$headings {
  #{$heading} {
    font-family: f.$fh;
    font-size: v(fs-#{$size});
    line-height: map-get(f.$lh, leading-large);
    font-weight: map-get(f.$weights, 500);
    color: v(clr-grey-100);
  }
}

// MSIE: Required for IEMobile.
@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 85px);
}

body {
  background-color: v(clr-grey-800);
  font: map-get(f.$weights, 400) v(fs-base) / 1 f.$ff;
  color: v(clr-grey-400);
  position: relative;
  // MSIE: Prevents scrollbar from overlapping content.
  -ms-overflow-style: scrollbar;
  // Prevents animation/transition "flicker" on page load.
  // Automatically added/removed by js/main.js.
  &.is-loading {
    overflow: hidden;
    height: 100vh;
  }
  p {
    line-height: map-get(f.$lh, leading-8);
  }
}

main {
  &.is-loading {
    overflow: hidden;
    @include size(100%, 100vh);
    *,
    *::before,
    *::after {
      animation: none !important;
      transition: none !important;
    }
  }
}

// Ensures page width is always >=320px.
@include media('>=xs') {
  html,
  body {
    min-width: 320px;
  }
}

// Set default image size
img {
  display: block;
  max-width: 100%;
}

// link styles
a {
  color: v(clr-grey-400);
  text-underline-offset: 2px;
  @media (hover: hover) {
    text-decoration: none;
    text-underline-offset: unset;
    position: relative;
    transition: color 0.5s ease;
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: v(clr-teal-500);
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }
    &:hover {
      color: v(clr-teal-500);
      &::before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }
}

ul {
  padding-left: 0.813rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
