---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://www.linkedin.com/in/mathewteague",
    description: "View LinkedIn profile",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://twitter.com/yewtreeweb",
    description: "View Twitter/X profile",
    icon: "fa-brands:twitter",
  },
  {
    url: "https://github.com/YewTreeWeb",
    description: "View GitHub profile",
    icon: "fa-brands:github",
  },
  {
    url: "mailto:mathew.teague@yewtreeweb.co.uk",
    description: "Email me",
    icon: "fa-solid:envelope",
  },
];

const year = new Date().getFullYear();
---

<footer class="relative flex h-64 items-center justify-center gap-x-4">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
  <p>&copy; Mathew Teague - {year}. All rights reserved.</p>
</footer>
