---
import ContentSection from "./content-section.astro";
---

<ContentSection title="Don't be shy" id="form" fontSize="text-xl" lead>
  <Fragment slot="lead">Say hello and lets grow together!</Fragment>
  <form
    data-netlify="true"
    name="contact"
    class="flex w-full max-w-[50rem] flex-col gap-4"
  >
    <fieldset class="flex w-full flex-col items-start justify-center gap-y-2">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="border-offset w-full rounded-md border"
      />
    </fieldset>
    <fieldset class="flex w-full flex-col items-start justify-center gap-y-2">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="border-offset w-full rounded-md border"
      />
    </fieldset>
    <fieldset class="flex w-full flex-col items-start justify-center gap-y-2">
      <label for="message">Message</label>
      <textarea
        name="message"
        id="message"
        class="border-offset min-h-[10rem] w-full rounded-md border"></textarea>
    </fieldset>
  </form>
</ContentSection>
