---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Hi I'm Mat" id="intro" fontSize="text-xl">
  <Fragment slot="lead">
    My website is currently being re-developed using <a class="underline underline-offset-4" href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a> and will back soon. I have a love for all code but specialise in front-end development. I also have multiple experinces with back-end development. I currently develop primarly in React specifically Next.js but I also develop with Shopify and for static sites Jekyll (currently transisioning to Astro). I am also a computer science graduate from Aberystwyth University.
  </Fragment>
</ContentSection>
